<!DOCTYPE html>
<html>
<head>
  <title>Welcome to your Vacation Tracker</title>
  <link rel="stylesheet" href="styles/home.css">

  <link rel="icon" href="{{url_for('static', filename='images/logo.ico')}}" type="image/png" />
  


</head>
<body>
  
  <section>
    <div class="container">
      <nav>
        <h1>logo</h1>
        <image src="{{url_for('static', filename='images/background.png')}}" alt="logo" width="100" height="100">

        <ul>
          <li><a href="" class="active">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div class="article">
        <h2>Track and manage your vacations with ease</h2>
            <p>Log in to view your vacation balance, submit new vacation requests, and more.</p>
            <a href="" class="btn">Login</a>
      </div>

</body>
</html>