<!DOCTYPE html>
<html>
<head>
  <title>Welcome to your Vacation Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">

  <link rel="icon" href="{{url_for('static', filename='images/logo.ico')}}" type="image/png" />
  


</head>
<body>
  
  <section>
    <div class="container">
      <nav>
        <h1>Welcome to Vacation Tracker</h1>

        <ul>
          <li><a href="" class="active">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div class="article">
        <h2>Track and manage your vacations with ease</h2>
            <p>Log in to view your vacation balance, submit new vacation requests, and more.</p>
            <a href="/login" class="btn">Login</a>
      </div>
      </div>
  </section>

</body>
</html>